.navbar {
  z-index: 2;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.is-mobile .navbar {
  position: fixed;
  z-index: 2;
}

.sidenav-container {
  flex: 1;
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}

mat-sidenav {
  min-width: 180px !important;
  border-right: 1px solid #eee;
  box-shadow: 6px 0 6px rgba(0, 0, 0, 0.1);
}

.profile-no-image {
  font-weight: bold;
  font-size: 1rem;
}
