<div
  *ngIf="user | async as user"
  class="navbar-container"
  [class.is-mobile]="mobileQuery | async"
  [ngClass]="{ 'theme-dark': user.preferedTheme === theme.DARK }"
>
  <!-- Navbar -->
  <mat-toolbar class="navbar" color="primary">
    <button mat-icon-button (click)="sideNav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a fxFlex class="navbar-logo" [routerLink]="['/']" matTooltip="Home">
      <!-- Add Logo Here -->
    </a>

    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>
    <mat-divider></mat-divider>
    <button
      mat-icon-button
      class="profile-button"
      [matMenuTriggerFor]="profileMenu"
    >
      <img *ngIf="user.profileImage" ; else noImage [src]="user.profileImage" />
      <span #noImage class="profile-no-image">
        {{
          user.firstName.toUpperCase().charAt(0) +
            user.lastName.toUpperCase().charAt(0)
        }}
      </span>
    </button>
    <mat-menu #profileMenu>
      <a mat-menu-item>
        <span>Profile</span>
      </a>
      <a (click)="logout()" mat-menu-item>
        <span>Logout</span>
      </a>
    </mat-menu>
    <span style="margin-left: 0.5rem" *ngIf="!(mobileQuery | async)">{{
      user.firstName + " " + user.lastName
    }}</span>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <!-- Sidenav Menu -->
    <mat-sidenav
      #sideNav
      class="sidenav"
      fixedTopGap="56"
      [opened]="!(mobileQuery | async)"
      [mode]="(mobileQuery | async) ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery | async"
    >
      <app-nav-options></app-nav-options>
    </mat-sidenav>
    <!-- Content -->
    <mat-sidenav-content class="sidenav-content">
      <app-content-loading></app-content-loading>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
