<mat-nav-list fxLayout="column" fxLayoutAlign="space-around stretch">
  <span *ngFor="let navOption of navOptions">
    <mat-list-item
      *hasPermission="navOption.requiredPermission"
      [routerLink]="navOption.navTo"
      routerLinkActive="active"
      style="font-weight: bold; height: 5rem"
      (click)="navOptionClicked()"
    >
      <mat-icon class="menu-option-icon" [svgIcon]="navOption.icon"></mat-icon>
      {{ navOption.name }}
      <mat-divider></mat-divider>
    </mat-list-item>
  </span>
</mat-nav-list>
