<mat-card *ngIf="post" style="margin: 0.5rem">
  <mat-card-header>
    <mat-card-title>
      {{ post.title }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ post.createdAt | date }}
    </mat-card-subtitle>
    <div fxFlex></div>
    <button (click)="deleteClick()" mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-header>

  <img mat-card-image [src]="post.image" />
  <mat-card-content>
    <p>{{ post.content }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="editClick()" mat-flat-button color="primary">Edit</button>
    <button (click)="readClick()" mat-stroked-button>Read</button>
  </mat-card-actions>
</mat-card>
