<div
  class="full-width container"
  fxLayout="column"
  fxLayoutAlign="space-evenly stretch"
>
  <div
    [formGroup]="searchTextForm"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <mat-icon style="margin-left: 1rem; margin-right: 1rem">search</mat-icon>
    <mat-form-field fxFlex="50" fxFlex.xs="85">
      <mat-label> {{ searchLabel }} </mat-label>
      <input
        matInput
        [matAutocomplete]="postSearch"
        formControlName="searchInput"
        type="text"
      />
    </mat-form-field>
    <mat-autocomplete #postSearch>
      <mat-option
        *ngFor="let result of searchResults | async"
        (click)="searchOptionClicked(result.getId())"
      >
        <span
          [innerHTML]="result.getSearchText() | highlight: searchText"
        ></span>
      </mat-option>
    </mat-autocomplete>
    <button
      *hasPermission="editPermission"
      routerLink="posts"
      style="margin-left: 1rem; margin-right: 1rem"
      color="primary"
      mat-mini-fab
      (click)="editButtonPressed()"
    >
      <mat-icon>{{ editButtonIcon }}</mat-icon>
    </button>
  </div>
  <div
    *ngIf="sortOptions.length > 0"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <mat-icon style="margin-left: 1rem; margin-right: 1rem">sort</mat-icon>
    <mat-form-field fxFlex="50" fxFlex.xs="85">
      <mat-label>
        {{ sortOptionsLabel }}
      </mat-label>
      <mat-select
        [disabled]="sortOptions.length <= 0"
        (selectionChange)="sortOptionChanged($event.value)"
      >
        <mat-option
          *ngFor="let option of sortOptions"
          [value]="option.sortType"
        >
          {{ option.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button
      [disabled]="!sortOption"
      style="margin-left: 1rem; margin-right: 1rem"
      mat-mini-fab
      (click)="sortOptionChanged()"
    >
      <mat-icon>
        {{ sortDirection ? "keyboard_arrow_up" : "keyboard_arrow_down" }}
      </mat-icon>
    </button>
  </div>
</div>
