<form [formGroup]="password">
  <mat-form-field class="full-width">
    <mat-label>
      {{ label }}
    </mat-label>
    <input
      formControlName="password"
      matInput
      [type]="hide ? 'password' : 'text'"
    />
    <button (click)="hide = !hide" mat-icon-button>
      <mat-icon>
        {{ hide ? "visibility_off" : "visibility" }}
      </mat-icon>
    </button>
    <mat-error *ngIf="password.controls['password'].hasError('required')">
      Password is <b>required</b>
    </mat-error>
  </mat-form-field>
</form>
