<mat-form-field
  [color]="onChange && emptyValue() ? 'warn' : null"
  class="full-width"
>
  <mat-label>
    {{ label }}
  </mat-label>
  <input
    matInput
    [type]="hide ? 'password' : 'text'"
    (blur)="onTouched && onTouched()"
    (input)="onChange && onChange($any($event.target).value)"
    [value]="value"
    [formControl]="passwordControl"
    placeholder="Some value"
  />
  <button (click)="hide = !hide" mat-icon-button matSuffix>
    <mat-icon>
      {{ hide ? "visibility_off" : "visibility" }}
    </mat-icon>
  </button>
</mat-form-field>
