<mat-form-field class="full-width" [formGroup]="passowrdForm">
  <mat-label>
    {{ label }}
  </mat-label>
  <input
    matInput
    formControlName="password"
    [type]="hide ? 'password' : 'text'"
    (input)="_handleInput(passowrdForm.value)"
    [placeholder]="placeholder"
  />
  <mat-error *ngIf="passowrdForm.controls['password'].hasError('required')">
    Password is <b>required</b>
  </mat-error>
  <button (click)="hide = !hide" mat-icon-button matSuffix type="button">
    <mat-icon>
      {{ hide ? "visibility_off" : "visibility" }}
    </mat-icon>
  </button>
</mat-form-field>
