<div
  *ngIf="postsData | async as postsData"
  fxLayout="column"
  style="height: 100%"
>
  <app-search-container
    [searchLabel]="'Search post...'"
    [editButtonIcon]="'add'"
    [sortOptions]="sortOptions"
    (sortEvent)="sortEvent($event)"
    (editEvent)="createEventClicked()"
  >
  </app-search-container>
  <div fxLayout="row wrap">
    <div
      fxFlex="33"
      fxFlex.xs="100%"
      fxFlex.sm="50"
      *ngFor="let post of postsData.content"
    >
      <app-post
        [post]="post"
        (editEvent)="editEventClicked($event)"
        (readEvent)="readEventClicked($event)"
        (deleteEvent)="deleteEventClicked($event)"
      ></app-post>
    </div>
  </div>
  <div fxFlex="60"></div>
  <mat-paginator
    [pageIndex]="postsData.pageNumber"
    [pageSize]="postsData.pageSize"
    [length]="postsData.totalElements"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent($event)"
  ></mat-paginator>
</div>
