// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$magenta-web-primary-light: mat-palette($mat-purple);
$magenta-web-accent-light: mat-palette($mat-blue-grey, A200, A100, A400);

// The warn palette is optional (defaults to red).
$magenta-web-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$magenta-web-theme: mat-light-theme(
  (
    color: (
      primary: $magenta-web-primary-light,
      accent: $magenta-web-accent-light,
      warn: $magenta-web-warn,
    ),
  )
);

$magenta-web-primary-dark: mat-palette($mat-purple);
$magenta-web-accent-dark: mat-palette($mat-blue-grey, A200, A100, A400);

// Dark theme object
$magenta-web-theme-dark: mat-dark-theme(
  (
    color: (
      primary: $magenta-web-primary-dark,
      accent: $magenta-web-accent-dark,
      warn: $magenta-web-warn,
    ),
  )
);

$custom-typography: mat-typography-config(
  $font-family: 'Open Sans',
  $title: mat-typography-level(24px, 32px, bold),
);

@include mat-core($custom-typography);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include angular-material-theme($magenta-web-theme);

.theme-dark {
  @include angular-material-theme($magenta-web-theme-dark);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$breakpoints: (
  "phone": 640px,
  "tablet": 768px,
  "desktop": 1024px,
) !default;

.container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.full-width {
  width: 100%;
}

.dialog {
  @media screen and (max-width: map-get($breakpoints , "tablet")) {
    height: 90% !important;
    position: relative;
    overflow: hidden;
    width: 100%;
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
  }
}
